/*-----------------------
Image carousel ------------*/

.swiper-container{
    justify-content: center;
    width:50%;
  }
  
  .swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  }
  
  .container-carousel .swiper-slide {
    width: 400px;
    height: 600px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  
  }
  
  @media (min-width: 2200px) {
    .container-carousel .swiper-slide {
      width: 650px; /* Larger width for large screens */
      height: 950px; /* Adjusted height to maintain aspect ratio */
      margin: auto; /* Center the slide if the container allows */
    }
  }
  
  
  
  
  .swiper-slide-active {
    filter: blur(0px);
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
  }
  
  .swiper-slide--one span {
    background: #62667f;
  }
  
  .swiper-slide--two span {
    background: #087ac4;
  }
  
  .swiper-slide--three span {
    background: #b45205;
  }
  
  .swiper-slide--four span {
    background: #087ac4;
  }
  
  
  .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/science.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/Ecology.png")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/ecology_evolution.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/Ecology_Letters.png")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/Journal_Animal_Ecology.png")
        no-repeat 50% 50% / cover;
  }
  .swiper-slide--six {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/frontiers_ecology.jpg")
        no-repeat 50% 50% / cover;
  }
  .swiper-slide--seven {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/current_biology.jpg")
        no-repeat 50% 50% / cover;
  }

      .swiper-slide--eight {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/Geremia_art.png")
        no-repeat 50% 50% / cover;
  }    .swiper-slide--nine {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/publications/procb_2025.png")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  
  
  